---
import { DynamicFormFruits } from "../components/DynamicFormFruits";
import { DynamicFormMisc } from "../components/DynamicFormMisc";
import { DynamicFormVeggies } from "../components/DynamicFormVeggies";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>
			Dynamic Store Form Fruits:
		</h1>
		<DynamicFormFruits client:only="react" />
		<h1>
			Dynamic Store Form Veggies:
		</h1>
		<DynamicFormVeggies client:only="react" />
		<br>
		<br>
		<h1>Store set from Props Data at build time</h1>
		<DynamicFormMisc client:only="react" storeName="drinks" />
	</body>
</html>
